<ul class="breadcrumb">
    <!-- went with a breadcrumb footer to keep everything neet and tidy -->
    <div class="footer">
        <!--Kordell's very own web software solutions compay(idea panton pending)-->
        <p><span class="rs3">© 2020</span> <span class="rs1">Red<span class="rs2"> Sapphire<span class="rs3"> Software Solutions<small>™</small></span></p>
    </div>
</ul>