<header>
    <img src="images/custom_web_logo.jpg" alt "Red_Sapphire_Sofware_Solutions">
<ul id="nav">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="about">About</a>
    </li>
    <li>
        <a href="contact">Contact</a>
    </li>
    <li>
        <a href="portfolio">Portfolio</a>
    </li>
    <li>
        <a href="dragndrop">Dragn'Drop</a>
    </li>
     <li>
        <a href="ajak">Ajak</a>
    </li>
      <li>
        <a href="chat">Chat</a>
    </li>
      <li>
        <a href="CRUD">CRUD</a>
    </li>
</ul>
</header>