<html>
<head>
<title>Kordell's Portfolio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/default.css" rel="stylesheet">
<link href="css/ajax.css" rel="stylesheet">
<link href="css/chat.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<script src="js/main.js"></script>
<script src="js/jquery-1.8.3.js"></script>
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
</html>