<div class="content">
    <h1>About Us</h1>
    <br><br><br>
    <div class="review-logo">
        <span class="rs1">Red</span><span class="rs2"> Sapphire</span><span class="w2-rs"> Software
            Solutions<small>™</small></span><br>
    </div>
    <div class="about">
        <p>is a web consulting company owned and operated by Kordell Bergemann.
           <br> and is credited with an A+ with the Bogus Business Bureau and offers
           <br> website creation (form scratch and CMS driven) and affortablie Cloud Hosting.</p>  
            <br>
        <div class="review-logo">   
           <p><b>Our Reviews</b></p>
        </div>
        <br>
        <p>"Red Sapphire Software Soultions has it all,
            if you want a website done right they can make you one and even host it!"
            <br>- Robert <i>New Press Times</i>
            <br><br>"Our company was looking to scale up bussiness in the cloud with affortable hosting options and
            Red Sapphire Software Solutions was the right choice and was there every step of the way with helpful
            customer severice
            heck they even through in an extra 4 TB of storge as a bouns for free with no strings attached.
            Thanks Red Sapphire Software Solutions!"
            <br> - Tina FurryHorse <i>XYZ Company</i></p>
            <br><br>
    </div>
</div>