<!--
 ** Orignal work done
    by Chistain Hur
-->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/ajax.js"></script>
    <div id="main-container">
            <h1>ASYNCHRONOUS OPERATIONS: AJAX</h1>
            <nav>
                <ul>
                    <li><button id='btn-get'>GET</button></li>
                    <li><button id='btn-post'>POST</button></li>
                    <li><button id='btn-put'>PUT</button></li>
                    <li><button id='btn-delete'>DELETE</button></li>
                </ul>
            </nav>
        <main>
            <div id="ajax-form"></div>
            <div id="result"></div>
        </main>
    </div>