<h1 style="color: firebrick;">Contact Form</h1>
<div class="container">
  <form class="contact" action="#">
		<label for="fname">Nane</label>
		<input type="text" id="name" name="name" placeholder="Your name. . . ">
		
		<label for="email">Email</label>
		<input type="text" id="emal" name="email" placeholder="youremail@example.org">
		
		<label for="comment">Comment</label>
		<textarea id="comment" name="comment" placeholder="Say Something. . . " style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>