<div class="content">
    <h1>My Portfolio</h1>
    <br>
    <br>
    <p>Name: Kordell Bergemann <br>
    <li>1 Semester form getting my associate's degree in Web Software Deveoplment</li>
    <br><br>
    <li>"self-taught" graphic designer</li>
    <br><br>
    <li>I'm excellent with graphic image perception</li>
    <br><p>which is Ironic seeing I lack depth perception</p>
    <br><br>
    <li>I currently have 3 websites for 3 kick-starter comapnies in devoplement </li>
    <br><br>
    <li>I love making gemstone cursors pack<br>
     -- a pack is what we cursor creators call a complete set of mouse cursors
      So for example a complete pack will usally inclucde the following cursors{pointer, link_select, vertical, and horizontal selecters,
      alteritve select 1 and 2, busy (which comes in two flavors -- animated and statis)
      unavaliable, help select, 
      and runing in background(which is what I refer to itas and comes in same flavors as the busy cursor) </li>
        
    <br><br> 
    </p>
</div>